.schedule-admission-main {
  .select-custom-dates-main {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    .select-custom-dates-child {
      font-weight: 500;
      cursor: pointer;
      text-decoration: underline;
      color: #007e7e;
    }
  }
  .action-button-schedule-admission {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin: 0px !important;
    .back-from-schedule {
      width: 84px;
      padding: 8px 24px 8px 24px;
      color: #007e7e;
      h2 {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        text-align: center;
      }
    }
    .select-participant-submit {
      align-items: center !important;
      padding: 8px 24px 8px 24px;
      box-shadow: none !important;
      header {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        text-align: center;
      }
    }
  }
}

