.review-submission-appl-body-main {
  .application-details {
    width: 100%;
  }
}

.submission-add-signature-modal {
  &.popup-module {
    width: 40vw;
    .popup-module-main {
      .add-signature-main-div {
        display: flex;
        margin-bottom: 10px;
        .not-signed {
          .buttons-div {
            display: flex;
            flex-direction: row;
            gap: 20px;
            height: 40px;
            margin-bottom: 10px;
            .upload-signature {
              max-height: 40px !important;
              align-items: center;
              display: flex;
              background: white !important;
              border: solid 2px #007e7e;
              h2 {
                color: #007e7e !important;
              }
            }
            .aadhar-sign-in {
              max-height: 40px !important;
              align-items: center;
              display: flex;
              background: white !important;
              h2 {
                color: #007e7e !important;
              }
            }
          }
          .click-for-download {
            display: flex;
            align-items: center;
            gap: 10px;
            span a {
              color: #007e7e;
            }
          }
        }
        .signed {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          h1 {
            font-family: Roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.13px;
            text-align: left;
            color: #3d3c3c;
          }

          span {
            padding: 5px 0px 5px 0px;
            border-radius: 15px;
            width: 59px;
            height: 28px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            text-align: center;
            color: #00703c;
            background-color: #e4f2e4;
          }
        }
      }
    }
  }
}

.responsive-signature-modal {
  &.popup-module {
    @media (max-width: 1024px) {
      width: 60vw;
      height: fit-content;
      .popup-module-main {
        max-height: calc(88vh - 120px);
        overflow: auto;
      }
    }

    @media (max-width: 768px) {
      width: 95vw;
      height: fit-content;
      max-height: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .header-wrap {
        padding: 0 12px !important;
      }
      .popup-module-main {
        padding: 16px !important;
        overflow: auto;
        .add-signature-main-div {
          flex-direction: column;
          .not-signed {
            h1 {
              font-size: 20px;
            }
            .buttons-div {
              flex-direction: column;
              gap: 12px;
              height: auto;
            }
          }
        }
      }
      .popup-module-action-bar {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: stretch;
        padding: 0px !important;
        button,
        .selector-button-border,
        .selector-button-primary,
        .selector-button-primary-disabled {
          width: 100% !important;
        }
      }
    }

    @media (max-width: 400px) {
      width: 95vw;
      max-height: 86vh;
      height: auto;
      .header-wrap {
        padding: 0 12px !important;
      }
      .popup-module-main {
        padding: 16px !important;
        max-height: calc(86vh - 112px);
        overflow: auto;
        .add-signature-main-div {
          flex-direction: column;
          .not-signed {
            h1 {
              font-size: 20px;
            }
            .buttons-div {
              flex-direction: column;
              gap: 12px;
              height: auto;
            }
          }
        }
      }
      .popup-module-action-bar {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: stretch;
        padding: 0px !important;
        button,
        .selector-button-border,
        .selector-button-primary,
        .selector-button-primary-disabled {
          width: 100% !important;
        }
      }
    }
  }
}

.submission-payment-modal {
  &.popup-module {
    width: 536px;
    .popup-module-main {
      .submission-payment-modal-body-main {
        height: 268px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .note-div {
        }
        .submission-payment-modal-amount-div {
          display: flex;
          flex-direction: column;
          .amount-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .keys-div {
              margin-left: 5px;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 18.75px;
              text-align: left;
              color: #77787b;
            }
            .values-div {
              margin-left: 25px;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 18.75px;
              text-align: right;
              color: #0a0a0a;
            }
          }
          .total-amount-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            h1 {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.submission-success-modal {
  &.popup-module {
    width: 536px;
    .popup-module-main {
      custom-stepper-modal-success,
      custom-stepper-modal-success,
      .submission-success-modal-body-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}

.create-submission {
  form {
    .card {
      .card-label-error {
        color: #bb2c2f !important;
        margin-left: 0px !important;
      }
    }
  }
  .popup-module-main {
    .card {
      max-width: none;
      height: calc(100vh - 154px);
    }
  }
}

.submission-create {
  .action-bar-wrap {
    .submit-bar {
      width: fit-content;
      padding: 0 12px;
    }
  }
}

.add-party {
  form {
    .employeeCard {
      .card-label-error {
        color: #bb2c2f !important;
        margin-left: 0px !important;
      }
    }
  }
}

.witness-details {
  .popup-module-main {
    padding: 0 !important;
    .popup-module-action-bar {
      padding: 16px;
      border-top: 1px #e8e8e8 solid;

      position: sticky;
      bottom: 0;
      background: white;
      z-index: 10;

      .selector-button-border {
        height: 2.5rem;
        border: solid 1px #007e7e;

        h2 {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
          color: #007e7e;
        }
      }
      .selector-button-primary-disabled {
        height: 2.5rem;
        h2 {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
        }
      }

      .selector-button-primary {
        height: 2.5rem;

        h2 {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
        }
      }
    }
  }
}

.witness-details-form-style {
  box-shadow: none;
  margin: 0px !important;

  form {
    .employeeCard {
      box-shadow: none;
      border-radius: 0px;
      padding: 0px 28px !important;
      margin-bottom: 0px !important;
    }

    .card {
      box-shadow: none;
      border-radius: 0px;
      padding: 0px 28px !important;
      margin: 0px !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .card-section-header {
    margin-top: 0px;
    margin-bottom: 20px !important;
    font-size: 16px !important;
  }

  .card-label-error {
    margin-left: 0 !important;
  }

  .drag-drop-heading {
    margin-left: 0px !important;
  }

  .label-field-pair:last-child {
    padding-bottom: 0px;
  }

  .label-field-pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .card-label {
      margin: 0px !important;
    }

    .field {
      width: 100%;

      .jk-digit-primary-btn.add-location-btn {
        background-color: white !important;
        box-shadow: none !important;
        border: 1px #007e7e solid;
        margin-top: 24px;
        h2 {
          font-family: Roboto;
          font-size: 16px !important;
          font-weight: 700 !important;
          line-height: 18.75px !important;
          text-align: center;
          color: #007e7e !important;
        }
      }

      .radio-wrap {
        gap: 24px !important;
        margin: 0px !important;

        div {
          margin: 0px;
        }

        label {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          text-align: left;
          color: #0a0a0a;
          margin-left: 8px !important;
        }
      }

      .label-field-pair {
        padding-bottom: 4px;
      }

      div {
        .info-banner-wrap {
          margin-top: 20px !important;
        }

        .label-field-pair:last-child {
          input {
            margin-bottom: 0px !important;
          }
        }

        .label-field-pair {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 8px !important;
          padding-bottom: 0px;

          .field {
            width: 100%;
            max-width: 100% !important;

            div {
              justify-content: space-between;
            }

            .map {
              width: 343px;
              height: 202px;
            }
          }

          h2 {
            width: 100%;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: #0a0a0a;
            margin: 0px !important;
          }

          .user-details-form-style {
            width: 100%;
          }
        }
      }
    }
  }
}

.toast-success {
  left: calc(100% - 540px) !important;
  top: 94% !important;
  z-index: 10000;
  h2 {
    width: 100% !important;
  }
}

.bail-action-bar {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;

  .submit-bar {
    width: fit-content;
    padding-inline: 20px;
    box-shadow: none;
  }
}

.bail-bond {
  .card {
    .label-field-pair {
      .card-label {
        font-weight: unset !important;
        margin-bottom: 8px !important;
      }
    }
  }
}

.bail-bond {
  .popup-module-main {
    .popup-module-action-bar {
      .selector-button-primary {
        background-color: #007e7e !important;

        h2 {
          color: white !important;
        }
      }
    }
  }
}

.bail-signature-modal {
  width: 638px;
  height: 230px;
  border-radius: 4px;

  .popup-module-main {
    .popup-module-action-bar {
      display: flex;
      justify-content: flex-start;
      gap: 16px;

      button:nth-child(2) {
        margin-left: auto;
      }

      .selector-button-border {
        border: 1px solid rgb(0, 126, 126);
        background-color: white;

        h2 {
          color: rgb(0, 126, 126);
        }
      }

      .bail-cancel-className {
        border: none !important;
        background-color: white;
        position: relative;
        padding-left: 32px;

        h2 {
          color: rgb(0, 126, 126);
          display: inline-flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
        }

        &::before {
          content: "";
          background-image: url('data:image/svg+xml;utf8,<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.66634 4H6.99967V0H2.99967V4H0.333008L4.99967 8.66667L9.66634 4ZM0.333008 10V11.3333H9.66634V10H0.333008Z" fill="%23007E7E"/></svg>');
          background-repeat: no-repeat;
          background-size: 10px 21px;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.bailbondEsign {
  &.popup-module {
    width: 40vw;

    .popup-module-main {
      padding: 40px !important;
    }
  }
}

.text-surety {
  .text-input-width {
    max-width: none;
  }
}

.citizen-bail-bond {
  background-color: #e0e0e0 !important;
}

.bail-bond-signature-page {
  .header {
    font-size: 26px;
    padding: 12px 40px;
    font-weight: 700;
    border-bottom: 1px solid #e8e8e8;
  }

  .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 0 24px;
    height: 100%;
  }

  .details {
    color: #0a0a0a;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 22px;
  }

  .details-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .left-panel {
    width: 350px;
    padding: 30px 0 16px 16px;
    border-right: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .right-panel {
    flex: 1;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .doc-viewer {
    flex: 1;
    margin-top: 24px;
    border: 1px solid #e0e0e0;
    overflow: auto;
    border-radius: 8px;
    background: #fafafa;
  }

  .litigant-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    color: #77787b;
    padding: 8px 16px 20px 0;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
  }

  .signed-label {
    padding: 6px 8px;
    border-radius: 999px;
    color: #00703c;
    background-color: #e4f2e4;
    font-size: 14px;
    font-weight: 400;
  }

  .unsigned-label {
    padding: 6px 8px;
    border-radius: 999px;
    color: #9e400a;
    background-color: #fff6e8;
    font-size: 14px;
    font-weight: 400;
  }

  .action-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .submit-btn {
    box-shadow: none;
    background-color: #008080;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .edit-btn {
    background-color: #fff;
    border: #007e7e solid;
    color: #007e7e;
    cursor: pointer;
    padding: 10px;
    width: 90px;
    margin-right: 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
  }

  .submit-loader {
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(234, 234, 245, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .bail-bond-signature-page {
    .header {
      font-size: 22px;
      padding: 12px 16px;
    }

    .container {
      flex-direction: column;
      padding: 0 16px;
      gap: 16px;
    }

    .left-panel {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e8e8e8;
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 12px;
    }

    .right-panel {
      padding: 0;
      height: auto;
    }

    .doc-viewer {
      margin-top: 16px;
      height: 60vh;
      flex: unset;
    }

    .litigant-details {
      padding-right: 0;
      font-size: 14px;
    }

    .action-bar-buttons {
      min-width: 100%;
    }

    .action-bar {
      justify-content: center;
    }
  }
}

@media (max-width: 800px) {
  .bail-bond-signature-page {
    .header {
      font-size: 24px;
      padding: 12px 24px;
    }

    .container {
      flex-direction: column;
      gap: 20px;
    }

    .left-panel {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e8e8e8;
      padding-left: 0;
    }

    .right-panel {
      padding: 16px 0;
      height: auto;
    }

    .doc-viewer {
      margin-top: 16px;
      height: 70vh;
      flex: unset;
    }

    .litigant-details {
      font-size: 15px;
    }

    .action-bar-buttons {
      min-width: 100%;
    }

    .action-bar {
      justify-content: flex-end;
      min-width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .bail-bond-signature-page {
    .container {
      padding: 0 16px;
    }

    .right-panel {
      padding: 16px;
    }
  }
}

.centered-success-modal {
  width: 700px;
  max-width: 90%;
}

@media (max-width: 768px) {
  .centered-success-modal {
    width: 90% !important;
  }
}

.plea-form-composer {
  .employeeCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px !important;
    box-shadow: none;
    padding-top: 0px !important;

    .card-label-error {
      margin-left: 0px !important;
      margin-top: -16px !important;
      margin-bottom: 0px !important;
    }

    .label-field-pair {
      gap: 8px !important;

      h2 {
        margin: 0 !important;
        width: 100%;
      }

      .field {
        .select-wrap {
          max-width: 100% !important;
          margin-bottom: 0px !important;
          .options-card {
            max-height: 230px !important;
            top: 36px !important;
          }
        }

        .radio-wrap {
          margin-bottom: 0px !important;
        }
      }

      input[type="text"] {
        margin-bottom: 0 !important;
      }

      .custom-text-area-main-div {
        .custom-textarea-style{
          color: rgba(11, 12, 12, var(--text-opacity)) !important;
        }
      }
    }
  }

  .action-bar-wrap {
    .submit-bar {
      width: fit-content;
      padding: 0px 10px;
      box-shadow: none;
    }

    .submit-bar-disabled {
      width: fit-content;
      padding: 0px 10px;
      box-shadow: none;
    }
  }
}
