.PlusMinus {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.PlusMinusbutton{
  border: 1px solid var(--twtheme-Y29sb3JzLmJvcmRlcg__);
  background-color: var(--twtheme-Y29sb3JzLmdyZXkubWlk);
  color: var(--twtheme-Y29sb3JzLnRleHQuc2Vjb25kYXJ5);
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  width: 40px;
}
