.custom-note-main-div {
  padding: 8px;
  background-color: #ecf3fd;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .custom-note-heading-div {
    display: flex;
    align-items: center;
    gap: 8px;

    path {
      fill: #0f3b8c;
    }

    h2 {
      margin: 0px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700 !important;
      line-height: 18.75px;
      text-align: left;
      color: #0a0a0a;
    }
  }

  .custom-note-info-div p {
    margin: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3d3c3c;
  }

  .info-card-content {
    color: #3d3c3c;
    width: 100%;
    ul {
      list-style-type: disc;
      margin-top: 0px;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 1.5rem;
      li {
        margin-bottom: 6px;
        color: #3d3c3c;
        padding-left: 8px;
        &:last-child {
          margin-bottom: 0;
        }
        &::marker {
          color: #3d3c3c;
        }
      }
    }
  }
}

.advocate-document-info {
  margin-bottom: 24px;
}
