.witness-deposition-signature {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  .doc-viewer {
    width: 75vw !important;

    @media screen and (max-width: 899px) {
      width: 90vw !important;
      padding: 0 !important;
    }

    .doc-viewer-image {
      @media screen and (min-width: 899px) {
        width: 87vw !important;
      }
    }

    #react-doc-viewer {
      @media screen and (min-width: 899px) {
        width: 72vw !important;
      }
    }
  }
  .card {
    @media screen and (max-width: 899px) {
      margin: 0 !important;
      padding: 0 !important;
    }

    .react-doc-viewer {
      @media screen and (max-width: 899px) {
        width: 90vw !important;
      }
    }
  }

  .header {
    display: flex !important;
    justify-content: center !important;
    padding: 12px 20px !important;
    font-size: 22px !important;

    @media screen and (min-width: 900px) {
      padding: 12px 40px !important;
      font-size: 26px !important;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
      flex-direction: row;
    }
  }

  .doc-viewer {
    margin: 10px auto !important;
    border: solid 1px lightgray !important;
    border-radius: 5px !important;

    @media screen and (min-width: 900px) {
      margin: 24px auto !important;
    }
  }

  .action-bar-wrap {
    max-width: none !important;

    @media screen and (max-width: 899px) {
      width: 100% !important;
      padding: 10px 0px !important;
    }

    .action-bar {
      display: flex !important;

      @media screen and (max-width: 899px) {
        justify-content: space-between !important;
        padding: 0px 16px !important;
      }

      @media screen and (min-width: 900px) {
        padding: 0px;
        justify-content: flex-end !important;
        width: 100% !important;
      }

      .back-button {
        background-color: "#fff";
        padding: 10px;
        margin-right: 10px;

        @media screen and (min-width: 900px) {
          padding: 10px;
          width: 90px !important;
          margin-right: 20px !important;
        }
      }

      .submit-bar {
        @media screen and (max-width: 899px) {
          width: fit-content !important;
        }
      }
    }
  }
}
