@import "./components/actionbarV2.scss";
/* 
    TODO NABEEL/ANIL Removed these since it creates issues in search screen and home screen
@import "./components/cardV2.scss";
*/

@import "./components/checkboxV2.scss";
@import "./components/FormComposerV2.scss";
@import "./components/radiobtnV2.scss";
@import "./components/selectdropdownV2.scss";
@import "./typography.scss";
@import "./components/actionLinkV2.scss";
@import "./components/appContainerV2.scss";
@import "./components/bodyContainerV2.scss";
@import "./components/breadCrumbV2.scss";
@import "./components/bannerV2.scss";
@import "./components/breakLineV2.scss";
@import "./components/loaderV2.scss";
@import "./components/headerV2.scss";
@import "./components/checkpointV2.scss";
@import "./components/backButtonV2.scss";
@import "./components/buttonsV2.scss";
@import "./components/infoBannerV2.scss";
@import "./components/displayPhotosV2.scss";
@import "./components/collapseAndExpandGroups.scss";
@import "./components/dateWrapV2.scss";
@import "./components/ErrorMessage.scss";
@import "./components/ratingV2.scss";
@import "./components/noresultsfoundV2.scss";
@import "./components/mobileNumberV2.scss";
@import "./components/tagV2.scss";
@import "./components/popUpV2.scss";
@import "./components/telephoneV2.scss";
@import "./components/textareaV2.scss";
@import "./components/textInputV2.scss";
@import "./components/otpInputV2.scss";
@import "./components/multiSelectDropdownV2.scss";
@import "./components/uploadFileV2.scss";

/* pages */
@import "./pages/employee/index.scss";

/* important to be remove after fixing the components */
.light {
  &-primary {
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnByaW1hcnk_) !important;

    &-button {
      background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnByaW1hcnk_) !important;
    }

    &-bg {
      background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnByaW1hcnktYmc_) !important;
    }
  }

  &-text-color {
    &-primary {
      color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__) !important;
    }

    &-secondary {
      color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3Itc2Vjb25kYXJ5) !important;
    }

    &-disabled {
      color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItZGlzYWJsZWQ_) !important;
    }
  }

  &-background {
    background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnBhcGVy) !important;
  }

  &-paper {
    &-primary {
      background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnBhcGVy) !important;

      &-color {
        color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnBhcGVy) !important;
      }
    }

    &-secondary {
      background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnBhcGVyLXNlY29uZGFyeQ__) !important;
    }

    &-border {
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      border-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLmRpdmlkZXI_);
    }
  }

  &-divider {
    background-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLmRpdmlkZXI_) !important;
  }

  &-header-sidenav {
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLmhlYWRlci1zaWRlbmF2) !important;
  }

  &-input-border {
    /* TODO Check why important added here @ANIL/NABEEL */
    border-color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLmlucHV0LWJvcmRlcg__);
  }
}

.alert {
  &-error {
    color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5lcnJvcg__) !important;

    &-bg {
      background-color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5lcnJvci1iZw__) !important;
    }

    &-border {
      border-color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5lcnJvcg__) !important;
    }
  }

  &-success {
    color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5zdWNjZXNz) !important;

    &-bg {
      background-color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5zdWNjZXNzLWJn) !important;
    }
  }

  &-info {
    color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5pbmZv) !important;

    &-bg {
      background-color: var(--twtheme-ZGlnaXR2Mi5hbGVydC5pbmZvLWJn) !important;
    }
  }
}

.chart {
  &-item-1 {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC0x) !important;
  }

  &-item-1-gradient {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC0xLWdyYWRpZW50) !important;
  }

  &-item-2 {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC0y) !important;
  }

  &-item-2-gradient {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC0yLWdyYWRpZW50) !important;
  }

  &-item-3 {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC0z) !important;
  }

  &-item-4 {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC00) !important;
  }

  &-item-5 {
    color: var(--twtheme-ZGlnaXR2Mi5jaGFydC5jaGFydC01) !important;
  }
}
