@import url("../index.scss");

.typography {
  &.text-heading-xl {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnJj);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LmJvbGQ_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXhsLmRlc2t0b3A_);
    }

    @media (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXhsLnRhYmxldA__);
    }

    @media (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXhsLm1vYmlsZQ__);
    }
  }

  &.text-heading-l {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LmJvbGQ_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLWwuZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLWwudGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLWwubW9iaWxl);
    }
  }
  &.text-heading-m {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LmJvbGQ_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLW0uZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLW0udGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLW0uZGVza3RvcA__);
    }
  }
  &.text-heading-s {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LmJvbGQ_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXMuZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXMudGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXMubW9iaWxl);
    }
  }
  &.text-heading-xs {
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5oZWFkaW5nLXhzLm1vYmlsZQ__);
      font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
      font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
      font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LmJvbGQ_);
      color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);
    }
  }
  &.text-caption-l {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0Lm1lZGl1bQ__);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLWwuZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLWwudGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLWwubW9iaWxl);
    }
  }

  &.text-caption-m {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0Lm1lZGl1bQ__);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLW0uZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLW0udGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLW0ubW9iaWxl);
    }
  }

  &.text-caption-s {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0Lm1lZGl1bQ__);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLXMuZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLXMudGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5jYXB0aW9uLXMuZGVza3RvcA__);
    }
  }
  &.text-body-l {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LnJlZ3VsYXI_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LWwuZGVza3RvcA__);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktbC5kZXNrdG9w);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LWwudGFibGV0);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktbC50YWJsZXQ_);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LWwubW9iaWxl);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktbC5tb2JpbGU_);
    }
  }
  &.text-body-s {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LnJlZ3VsYXI_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXMuZGVza3RvcA__);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktcy5kZXNrdG9w);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXMudGFibGV0);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktcy50YWJsZXQ_);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXMubW9iaWxl);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHktcy5tb2JpbGU_);
    }
  }
  &.text-body-xs {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LnJlZ3VsYXI_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXhzLmRlc2t0b3A_);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHkteHMuZGVza3RvcA__);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXhzLnRhYmxldA__);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHkteHMudGFibGV0);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5ib2R5LXhzLm1vYmlsZQ__);
      line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0LmxpbmUtaGVpZ2h0LWJvZHkteHMubW9iaWxl);
    }
  }
  &.text-label {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUuaXRhbGlj);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LnJlZ3VsYXI_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5sYWJlbC5kZXNrdG9w);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5sYWJlbC50YWJsZXQ_);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5sYWJlbC5tb2JpbGU_);
    }
  }
  &.text-link {
    font-family: var(--twtheme-ZGlnaXR2Mi5mb250RmFtaWx5LnNhbnM_);
    font-style: var(--twtheme-ZGlnaXR2Mi5mb250U3R5bGUubm9ybWFs);
    font-weight: var(--twtheme-ZGlnaXR2Mi5mb250V2VpZ2h0LnJlZ3VsYXI_);
    color: var(--twtheme-ZGlnaXR2Mi5saWdodFRoZW1lLnRleHQtY29sb3ItcHJpbWFyeQ__);
    line-height: var(--twtheme-ZGlnaXR2Mi5saW5lSGVpZ2h0Lm5vcm1hbA__);
    text-decoration: var(--twtheme-ZGlnaXR2Mi50ZXh0RGVjb3JhdGlvbkxpbmUudW5kZXJsaW5l);

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLmRlc2t0b3A_)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5saW5rLmRlc2t0b3A_);
    }
    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLnRhYmxldA__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5saW5rLnRhYmxldA__);
    }

    @media screen and (min-width: var(--twtheme-ZGlnaXR2Mi5zY3JlZW5zLm1vYmlsZQ__)) {
      font-size: var(--twtheme-ZGlnaXR2Mi5mb250U2l6ZS5saW5rLm1vYmlsZQ__);
    }
  }
}