.enter-validation-code,
.litigant-verification,
.payment-due-wrapper,
.view-document-vak,
.general-details-vek,
.select-user-join-case,
.noc-court-order-upload,
.update-delivery-status,
.case-number-input {
  margin: 24px 0px 24px 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 445px;
  overflow-y: auto;
  .case-label-field-pair {
    .text-input {
      width: 100%;
      max-width: 100%;
      input {
        margin-bottom: 0px;
      }
    }
    .radio-wrap {
      margin: 0px;
      padding-top: 4px;
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
    }
    .employee-select-wrap,
    .select-wrap {
      margin-bottom: 0px;
      max-width: 100%;
    }
  }
  h3.sure-text {
    margin: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    color: #0b0c0c;
  }
}

.horizontal-line {
  border-bottom: 1px #0000001a solid;
  width: 100%;
  margin: 0px;
}

.litigant-verification {
  width: 712px;
  margin-bottom: 0px !important;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  .multi-litigant-composer {
    .card {
      margin: 0px;
      padding: 0px;
      padding-bottom: 24px;
      gap: 24px;

      .label-field-pair {
        h2.card-label {
          margin: 0px;
        }
        input {
          margin-bottom: 0px;
        }
        .field {
          .radio-wrap {
            margin: 0px;
          }
        }
      }
      .card-label-error {
        width: 100%;
        margin-left: 0px !important;
        margin: -21px 0px 0px;
        font-size: 14px !important;
        color: #b91900 !important;
        text-align: left;
      }
      .phone-number-verification {
        .digit-card-label-error.error-text {
          color: #b91900 !important;
        }
        .verification-button-text-modal {
          color: #ffffff !important;
        }
      }
    }
  }
}

.case-number-input {
  .case-label-field-pair {
    .text-input {
      width: calc(100% - 40px);
      input {
        border-right: none;
      }
    }
    .icon-div {
      cursor: pointer;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      border: 1px #505a5f solid;
      border-left: none;
    }
  }
}

.case-input-label {
  margin: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  margin-bottom: 8px;
}

.popup-module.join-a-case-modal {
  width: 50%;
  .popup-module-main {
    position: relative !important;
    .payment-due-wrapper {
      display: flex;
      flex-direction: column;
      width: 536px;
    }
    .multi-litigant-composer-footer {
      padding: 16px;
    }
  }
  .skip-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    border: none;
    background-color: #ffffff;
    box-shadow: none;
    h2 {
      color: #007e7e;
      margin: 0px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 18.75px;
      text-align: center;
    }
  }
  .selector-button-primary-disabled,
  .selector-button-border,
  .selector-button-primary {
    height: 40px;
  }

  &.case-join-success {
    .header-wrap {
      display: none;
    }
    button {
      width: 50%;
    }
    .selector-button-primary {
      display: flex;
      justify-content: center;
      gap: 8px;
      h2 {
        width: fit-content !important;
      }
      svg {
        margin: 0px;
      }
    }
    .popup-module-main {
      .join-a-case-success {
        padding: 40px;
        .joining-message {
          padding: 16px 24px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;

          &.join-success {
            background-color: #00703c;
            margin-bottom: 16px;
          }
          .message-header {
            margin: 0px;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 700;
            line-height: 37.5px;
            text-align: center;
            color: #ffffff;
          }
          svg {
            fill: #00703c;
            border-radius: 50%;
            background-color: white;
            height: 48px;
            width: 48px;
          }
        }
      }
      .popup-module-action-bar {
        display: none;
      }
    }
  }
}

.action-button-success {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.complainants-respondents {
  display: flex;
  padding-bottom: 24px;
  gap: 24px;
}

.general-details-vek,
.select-user-join-case {
  gap: 24px !important;
}

.select-user-join-case {
  .party-in-person-affidavit-upload {
    .card {
      min-width: 100%;
      padding: 0px;
      margin: 0px;
      .label-field-pair {
        .field {
          .uploaded-file-div-main {
            &.upload-successful {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
.general-details-vek {
  .primary-advocate-details {
    .contact-text {
      margin: 0px;
      margin-bottom: 8px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #3d3c3c;
    }
  }
}

.view-document-vak {
  height: 422px;
  overflow-y: auto;
  margin-right: 0px;
  padding-bottom: 12px;
  padding-right: 16px;
  .docviewer-wrapper {
    margin-top: 0px !important;
    .employeeCard {
      padding: 0px !important;
      margin-bottom: 0px !important;
      box-shadow: none;
      border: 1px #bbbbbd solid;
      border-radius: 4px;
      #pdf-page-info {
        display: none;
      }
    }
  }
}

.e-sign-page {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.view-document-vak::-webkit-scrollbar {
  width: 8px;
}
.view-document-vak::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 8px;
}
.case-label-field-pair.reason-for-replacement-text-area {
  .custom-text-area-header-div {
    margin: 0px 0px 8px;
    h2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #0b0c0c;
    }
  }
  .custom-textarea-style {
    padding: 0px;
    height: 100px;
    textarea {
      width: 100%;
      padding: 8px 12px;
      height: 100%;
      resize: none;
      border: 1px #3d3c3c solid;
      color: #3d3c3c;
      &::placeholder {
        color: #bbbbbd;
      }
    }
  }
}

.join-a-case-advocate-search {
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  box-shadow: none;
}

.join-case-tooltip-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  .custom-error-tooltip {
    height: 16px;
    width: 16px;
    margin-bottom: 8px;
  }
}

.view-document-vak,
.noc-court-order-upload {
  .noc-court-order-upload-form {
    .card {
      min-width: 100%;
      margin: 0px;
      padding: 0px;
      border: none;
      box-shadow: none;
      .label-field-pair {
        margin-bottom: 24px;
        .field {
          .drag-drop-visible-main {
            .drag-drop-heading-main {
              .drag-drop-heading {
                margin-left: 0px;
                .card-label.custom-document-header {
                  margin: 0px;
                }
                .custom-error-tooltip {
                  flex-direction: column;
                }
                .custom-error-tooltip-message {
                  bottom: unset;
                  left: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

.multi-litigant-composer {
  .card {
    border: none;
  }

  .label-field-pair {
    h2.card-label {
      font-weight: 400 !important;
      font-size: 16px;
      margin-bottom: 8px !important;
    }

    .phone-number-verification {
      .jk-digit-primary-btn.secondary-button-selector {
        box-shadow: none;
        align-items: center;
        width: 200px;
        height: 40px;
        gap: 4px;
        background-color: initial !important;

        h2.secondary-label-selector {
          color: #007e7e !important;
          text-align: center;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }

  .popup-wrap {
    .verify-mobile-modal {
      .popup-module-main {
        .popup-module-action-bar {
          .selector-button-primary-disabled {
            .verification-button-text-modal {
              color: white !important;
            }
          }
        }
      }
    }
  }
}

.multi-litigant-composer-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px 0px 16px;
  align-items: center;
}

.multi-litigant-composer-footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  box-shadow: none !important;
  height: 32px !important;
  border-radius: 4px;
}

.arrow-button:hover {
  background-color: #eeeeee;
}

.multi-litigant-composer-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
}

.advocate-replacement-request-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.advocate-replacement-request {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 24px;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.advocate-replacement-request-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  gap: 8px;
  border: 1px solid #d9d9d9;
  padding: 16px;
}

.advocate-replacement-request-body .info-row {
  display: flex;

  .data {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #0b0c0c;
    margin: 0px;
    word-break: break-all;
    &.item-1 {
      width: 100%;
    }
    &.item-2 {
      width: 50%;
    }
    &.item-3 {
      width: 33.333333%;
    }
    &.head {
      font-weight: 700;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }

  .label {
    width: 40%;
    color: #0b0c0c;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0px;
  }

  .value {
    width: 60%;
    color: #0b0c0c;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    margin: 0px;

    &.litigants-list {
      .litigant-item {
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.reason-document-wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  .docviewer-wrapper {
    margin-top: 0px !important;
    .employeeCard {
      padding: 0px !important;
    }
  }
}

.advocate-replacement-request-footer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;

  .advocate-replacement-request-cancel-button,
  .advocate-replacement-request-submit-button {
    padding: 9px 24px;
    color: #ffffff;
    height: fit-content;
    box-shadow: none;
    height: 40px;

    h2 {
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0px;
    }
  }

  .advocate-replacement-request-cancel-button {
    background: #bb2c2f;
  }
}

.advocate-replacement-request-modal {
  .confirm-modal-content {
    padding: 24px 24px 0px;
    &.reject {
      padding: 24px;
    }
    .confirm-modal-content-text {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0%;
      margin: 0px;
    }
  }
  .popup-module-action-bar {
    .selector-button-primary-disabled,
    .reject-button,
    .approve-button {
      h2 {
        color: #ffffff !important;
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
  .popup-module-main .popup-module-action-bar button.reject-button.selector-button-primary {
    background-color: #bb2c2f !important;
    border: none !important;
  }
  .popup-module-main .popup-module-action-bar button.selector-button-primary-disabled,
  .popup-module-main .popup-module-action-bar button.approve-button.selector-button-primary {
    background-color: #007e7e !important;
    border: none !important;
  }
}
