name: AB-Diary Image Build workflow
on:
  push:
    branches:
      - develop
      - main
      - release**
    tags:
      - 'v*'
    paths:
      - 'backend/ab-diary/**'
  pull_request:
    branches:
      - develop
      - release/*
  workflow_dispatch:
  workflow_call:
permissions:
  security-events: write
  contents: read

jobs:
  docker_image-build:
    if: (github.event_name == 'push' && (startsWith(github.ref, 'refs/heads/develop') || startsWith(github.ref, 'refs/heads/release') || startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/tags/v'))) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.create_matrix.outputs.matrix }}
      deployment_env: ${{ steps.set_deployment_environment.outputs.deployment_env }}
      repo_branch: ${{ steps.set_branch.outputs.BRANCH }}
    steps:
      - name: Set github branch
        id: set_branch
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}  # Use tag name for version
          elif [[ "${GITHUB_REF}" == refs/heads/* ]]; then
            # Use branch name as version, replacing '/' with '-'
            VERSION=${GITHUB_REF#refs/heads/}
            VERSION=$(echo "${VERSION}" | sed 's|/|-|g')
          else
            VERSION="latest"  # Default version if not a tag or branch
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Git commit_hash for service
        run: |
          commit_hash=$(git log -1 --pretty=format:%H -- backend/ab-diary)
          echo "commit_hash=$commit_hash" >> $GITHUB_ENV

      - name: Build and Push Docker image for ab-diary
        run: |
          docker build --build-arg WORK_DIR="backend/ab-diary" -t docker.io/venkatramireddyb/pucar_ab_diary:${{ env.VERSION }}-${{ env.commit_hash }} -f build/maven/Dockerfile .
          docker push docker.io/venkatramireddyb/pucar_ab_diary:${{ env.VERSION }}-${{ env.commit_hash }}

      - name: Build and Push Docker image for ab-diary DB
        run: |
          EVENT="${{ github.event_name }}"
          BASE_REF="${{ github.event.pull_request.base.ref }}"
          REF_NAME="${{ github.ref_name }}"
          ENV_VALUE=""

          if [[ "$EVENT" == "workflow_dispatch" ]]; then
            ENV_VALUE="${{ inputs.deployment_env }}"
          elif [[ "$EVENT" == "pull_request" ]]; then
            case "$BASE_REF" in
              main)          ENV_VALUE="demo" ;;
              develop)       ENV_VALUE="dev" ;;
              release/*)     ENV_VALUE="qa" ;;
              *)             ENV_VALUE="dev" ;;
            esac
          elif [[ "$EVENT" == "push" ]]; then
            case "$REF_NAME" in
              main)          ENV_VALUE="demo" ;;
              develop)       ENV_VALUE="dev" ;;
              release/*)     ENV_VALUE="qa" ;;
              *)             ENV_VALUE="dev" ;;
            esac
          fi
          echo "Final Determined Env: $ENV_VALUE"
          echo "deployment_env=$ENV_VALUE" >> $GITHUB_ENV
          echo "deployment_env=$ENV_VALUE" >> $GITHUB_OUTPUT

  build-deploy:
    name: ${{ matrix.service }} - Pipeline
    runs-on: ubuntu-latest
    needs: docker_image-build
    steps:
      - name: Set Workflow File Based on Branch
        id: set_workflow
        run: |
          if [ "${{ github.ref }}" == "refs/heads/develop" ]; then
            echo "WORKFLOW_FILE=solutions-dev.yaml" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/release-0.4" ]; then
            echo "WORKFLOW_FILE=solutions-qa.yaml" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "WORKFLOW_FILE=solutions-uat.yaml" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/release-0.5" ]; then
            echo "WORKFLOW_FILE=solutions-dpg-dev.yaml" >> $GITHUB_ENV
          fi

      - name: Trigger Deployment Pipeline
        run: |
          echo "Service Name: ${{ matrix.service }}"
          echo "Deployment Environment: ${{ needs.check-diff.outputs.deployment_env }}"

      - name: Sonar Analysis
        uses: pucardotorg/dristi-solutions/.github/actions/sonar-analysis@develop-actions-pr-test
        with:
          service_name: ${{ matrix.service }}
          sonar_token: ${{ secrets.SONAR_TOKEN_BEEHYV }}
          branch: ${{ needs.check-diff.outputs.repo_branch }}
          repo: "pucardotorg/dristi-solutions"
          ghub_token: ${{ secrets.GHUB_TOKEN }}

      - name: Docker Build
        id: docker_build
        uses: pucardotorg/dristi-solutions/.github/actions/docker-build@develop-actions-pr-test
        with:
          service_name: ${{ matrix.service }}
          docker_password: ${{ secrets.ACR_PASSWORD }}

      - name: Deployment Summary
        run: |
          echo "Docker image build: docker.io/venkatramireddyb${{ matrix.service }}:${{ steps.docker_build.outputs.image_tag }} and deploying to ${{ needs.check-diff.outputs.deployment_env }}"

      - name: Deploy to Kubernetes
        uses: pucardotorg/pucar-DevOps/.github/actions/deploy-service@Solutions-Pipeline
        with:
          environment: ${{ needs.check-diff.outputs.deployment_env }}
          service_group: ${{ env.service_group }}
          service_name: ${{ matrix.service }}
          image_tag: ${{ steps.docker_build.outputs.image_tag }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
          env_file: ${{ vars.HELMFILE_ENV }}
          checkout_ref: ${{ vars.DEVOPS_BRANCH }}
          sops_keys_txt: ${{ secrets.SOPS_KEYS_TXT }}