name: AB-Diary Image Build workflow
on:
  push:
    branches:
      - develop
      - main
      - release**
    tags:
      - 'v*'
    paths:
      - 'backend/ab-diary/**'
  pull_request:
    branches:
      - develop
      - main
      - release**
    paths:
      - 'backend/ab-diary/**'
  workflow_dispatch:
  workflow_call:
permissions:
  security-events: write
  contents: read

jobs:
  set-deployment-environment:
    runs-on: ubuntu-latest
    outputs:
      deployment-environment: ${{ steps.set-env.outputs.deploy_env }}
    steps:
      - name: Set Deployment Environment
        id: set-env
        uses: pucardotorg/pucar-DevOps/.github/actions/getDeployEnv@Solutions-Pipeline

  docker_image-build:
    needs: set-deployment-environment
    environment: ${{ needs.set-deployment-environment.outputs.deployment-environment }}
    if: (github.event_name == 'push' && (startsWith(github.ref, 'refs/heads/develop') || startsWith(github.ref, 'refs/heads/release') || startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/tags/v'))) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Docker
        uses: docker/setup-buildx-action@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Dependency check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          JAVA_HOME: /opt/jdk
        id: Depcheck
        with:
          project: 'ab-diary'
          path: 'backend/ab-diary'
          format: 'SARIF'
          args: "--disableOssIndex"
      - name: Upload SARIF result to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: reports/dependency-check-report.sarif
        if: always()
      - name: Build and analyze for AB Diary
        env:
          GITHUB_TOKEN: ${{ secrets.GHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -f backend/ab-diary/pom.xml package org.sonarsource.scanner.maven:sonar-maven-plugin:3.9.1.2184:sonar -Dsonar.projectKey=solutions_ab_diary -Dsonar.organization=solutions -Dsonar.host.url=https://sonarcloud.io/

      # Login to Docker Registry
      - name: Login to Docker Registry
        run: docker login -u venkatramireddyb -p ${{ secrets.ACR_PASSWORD }}

      - name: Set Version from Tag or Branch
        id: set_version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}  # Use tag name for version
          elif [[ "${GITHUB_REF}" == refs/heads/* ]]; then
            # Use branch name as version, replacing '/' with '-'
            VERSION=${GITHUB_REF#refs/heads/}
            VERSION=$(echo "${VERSION}" | sed 's|/|-|g')
          else
            VERSION="latest"  # Default version if not a tag or branch
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Git commit_hash for service
        run: |
          commit_hash=$(git log -1 --pretty=format:%H -- backend/ab-diary)
          echo "commit_hash=$commit_hash" >> $GITHUB_ENV

      - name: Build and Push Docker image for ab-diary
        run: |
          docker build --build-arg WORK_DIR="backend/ab-diary" -t docker.io/venkatramireddyb/pucar_ab_diary:${{ env.VERSION }}-${{ env.commit_hash }} -f build/maven/Dockerfile .
          docker push docker.io/venkatramireddyb/pucar_ab_diary:${{ env.VERSION }}-${{ env.commit_hash }}

      - name: Build and Push Docker image for ab-diary DB
        run: |
          docker build  -t docker.io/venkatramireddyb/pucar_ab_diary_db:${{ env.VERSION }}-${{ env.commit_hash }} -f  Dockerfile .
          docker push docker.io/venkatramireddyb/pucar_ab_diary_db:${{ env.VERSION }}-${{ env.commit_hash }}
        working-directory: backend/ab-diary/src/main/resources/db

      - name: Deployment to Kubernetes Cluster
        uses: pucardotorg/pucar-DevOps/.github/actions/Deploy@Solutions-Pipeline
        with:
          image_name: "ab_diary"
          image_tag: ${{ env.VERSION }}-${{ env.commit_hash }}
          sops_key: ${{ secrets.SOPS_KEY }}
